.playlistitem {
  border-bottom: 1px solid;
  display: flex;
}

.playlistitem .playlistitem-info {
  width: 100%;
  padding: 5px;
}

.dragIcon {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 10px;
}

.playlistitem .playlistitem-icon {
  margin: 21px 5px;
}